[Unit]
Description=xremap service

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/ishizawa/.cargo/bin/xremap /home/ishizawa/.local/share/chezmoi/xremap/config.yml

[Install]
WantedBy=default.target