[Unit]
Description=xremap service

[Service]
# restart periodically
Restart=always
ExecStart=/usr/bin/xremap $HOME/.local/share/chezmoi/xremap/config.yml
User=root
Group=root

[Install]
WantedBy=default.target